/*
2a30536f400a253c86be1a18eb00603b4ad45f18, v2 (xcart_4_5_1), 2012-06-22 11:52:57, altskin.Opera.css, aim
vim: set ts=2 sw=2 sts=2 et:
*/

.products .creviews-rating-box, .products .creviews-rating-box .creviews-vote-bar {
	position:relative;
	width:100%
}
 .products .creviews-rating-box .creviews-vote-bar ul.star-0 {
	float:left;
	left:95px;
	clear:both;
}
.products .creviews-rating-box .creviews-rating{
	top:20px;
	position:relative;
}
