DirectoryIndex home.php index.php index.html index.htm

# If you would like X-Cart to show informative message for errors caused 
# by opening of missing/deleted files (HTTP Error 404), please uncomment
# the line below.
# ErrorDocument 404 /404.php

# NOTE: If you installed X-Cart into a subfolder (for example, to /store folder, so
# it is available at http://www.example.com/store/home.php), you need to specify
# full relative path to the 404.php script, for example, as follows:
# ErrorDocument 404 /store/404.php

# Show default error document for 404 errors caused by opening of image/media files.
<Files ~ "\.(gif|jpe?g|png|js|css|swf|ico)$">
	ErrorDocument 404 default
</Files>

ErrorDocument 401 default

<Files ~ "\.(tgz|rar|zip|sql)$">
	Order Deny,Allow
	Deny from all
</Files>

RewriteEngine On

# Map http://www.example.com to /store.
RewriteRule ^$ /store/ [L]

# Map http://www.example.com/x to /store/x unless there is a x in the web root.
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !^/store/
RewriteRule ^(.*)$ /store/$1

# Add trailing slash to directories without them so DirectoryIndex works.
# This does not expose the internal URL.
RewriteCond %{REQUEST_FILENAME} -d
RewriteCond %{REQUEST_FILENAME} !/$
RewriteRule ^(.*)$ $1/

# Disable auto-adding slashes to directories without them, since this happens
# after mod_rewrite and exposes the rewritten internal URL, e.g. turning
# http://www.example.com/about into http://www.example.com/jekyll/about.
DirectorySlash off