.button {

	// Variables
	@10px: 1em * (10 / @base-text-size);
	@25px: 1em * (25 / @base-text-size);

	//Baseline
	
	font-family: @primary-heading-font;
	color: @button-text-color;
	text-align: center;
	display: inline-block;
	border:none;
	outline:none;
	cursor:pointer;

	//Mixins

	.border-radius(7);
	.padding-horizontal(20);
	.padding-vertical(10);

	&.primary {
		text-transform: uppercase;
		background: @primary-button-color;
		border-bottom: solid 3px @primary-button-border;

		&:hover {
			background: @primary-button-hover;
		}

	}

	&.secondary {
		text-transform: lowercase;
		background: @secondary-button-color;
		border-bottom: solid 3px @secondary-button-border;
	
		
		&:hover {
			background: @secondary-button-hover;
		}
	}

	// E-commerce

	&.cart {
		text-transform: uppercase;
		background: @secondary-button-color;
		border-bottom: solid 3px @secondary-button-border;

		&:hover {
			background: @secondary-button-hover;
		}
	}

	&.arrow {
		position:relative;
		background:@secondary-color;
		width:25px;
		height:25px;
		margin-bottom: -5px;
		font-size:1px;

		// Mixins
		.border-radius(100);

			&:hover {
				background:lighten(@secondary-color, 5%);
			}

			&:before {
				content: "";
				position: absolute;
				top: 7px;
				left: 11px;
				width: 0;
				height: 0;
				border-top: 5px solid transparent;
				border-bottom: 5px solid transparent;				
				border-left: 5px solid white;
				

			}	

			&:after {
				content:"";
				position:absolute;
				top:2px;
				left:2px;
				bottom:2px;
				right:2px;
				border: solid 1px @white;
			
				// Mixins
				.border-radius(100);

			}	
	}

	&.small {
		.petite-text;
	}

	&.large {
		.paragon-text;
	}
}