/* vim: set ts=2 sw=2 sts=2 et: */
/**
 * Special Offers responsive CSS stylesheet
 *  
 * @category   X-Cart
 * @package    X-Cart
 * @subpackage CSS
 * @author     Ruslan R. Fazlyev <rrf@x-cart.com> 
 * @version    8675de3e939ee2a51239dbe27abe58f5a483416b, v2 (xcart_4_6_2), 2013-11-19 07:47:23, altskin.css, random
 * @link       http://www.x-cart.com/
 * @see        ____file_see____
 */
@media screen and (max-width:767px) {

  .offers-short-list {
    margin-top: 0;
  }

  .offers-cell {
    width: 100% !important;
    float: none;
    padding: 0;
  }

  .offers-cell p {
    margin-top: 0;
  }

  .offers-cart-button {
    float: none;
    position: absolute;
    top: -26px;
    right: 0;
  }

}
