/*

LESS Configuration File

Description:
This file is a list of commonly used variables
in the Leaf framework and is used to customize
the client's build.

Warning: 
Making changes to this file will impact the framework.

Style Guide 0.1.0

*/
.transform {
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
  overflow: hidden;
}
/*

Responsive Grid Builder

Description:
This is a complicated LESS loop that runs and creates 
classes for almost every grid type possible. This solution
also replaces offsets by allowing more control.

Class Syntax Exaples:
The two examples below equate to 25% of the container width
and are therefore interchangable.

Example 1: 	gd-3of12: [prefix] - [itteration / percentage] of [total grid columns] 
Example 2: 	gd-quarter: [prefix] - [whole word representation] 

*/
/*

HTML5 Display Definitions

Set the appropriate `display` definitions for new HTML5 elements.

The majority will be displayed `block`.

*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
/*

Some, however, need to be `inline-block` with an IE7 fallback.

*/
audio,
canvas,
video {
  display: inline-block;
}
.lte7 audio,
.lte7 canvas,
.lte7 video {
  display: inline;
  zoom: 1;
}
/*

Audio

From Normalize.css:

> Prevents modern browsers from displaying `audio` without controls.
> Remove excess height in iOS5 devices.

*/
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
img {
  max-width: 100%;
  border: 0;
}
.lte7 img {
  -ms-interpolation-mode: bicubic;
}
svg:not(:root) {
  overflow: hidden;
}
form {
  margin: 0;
}
fieldset {
  border: none;
  margin: 0;
  padding: 0;
}
legend {
  width: 100%;
  border: 0;
  padding: 0;
  display: block;
  white-space: normal;
}
.lte7 legend {
  margin-left: -7px;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  display: block;
}
button .lte7,
input .lte7,
select .lte7,
textarea .lte7 {
  vertical-align: middle;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  display: inline-block;
  cursor: pointer;
}
button .lte7,
html input[type="button"] .lte7,
input[type="reset"] .lte7,
input[type="submit"] .lte7 {
  overflow: visible;
  display: inline;
  zoom: 1;
}
button,
input {
  line-height: normal;
}
button[disabled],
input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input[type="checkbox"],
input[type="radio"] {
  padding: 0;
  box-sizing: border-box;
  position: relative;
  vertical-align: top;
}
input[type="checkbox"] .lte7,
input[type="radio"] .lte7 {
  width: 13px;
  height: 13px;
}
input[type="search"] {
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
a:focus,
a:active,
a:hover {
  outline: 0;
}
table {
  border-spacing: 0;
}
/*

Type

*/
/*

HTML Font Size Adjust

1. Corrects text resizing oddly in IE6/7 when body `font-size` is set using
   `em` units.
2. Prevents iOS text size adjust after orientation change, without disabling
   user zoom.

*/
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}
abbr[title] {
  border: none;
}
i,
cite,
address {
  font-style: normal;
}
dfn {
  font-style: italic;
}
b {
  font-weight: normal;
}
strong {
  font-weight: bold;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
blockquote,
menu,
ul,
ol,
dl,
table,
figure {
  /* Display & Box Model */
  margin: 1.25em 0 0 0;
  /* Other */
  font-size: 1em;
}
menu,
ol,
ul {
  padding-left: 2.5em;
}
menu.unstyled,
ol.unstyled,
ul.unstyled {
  padding-left: 0;
  list-style: none outside none;
}
li ul,
li ol {
  margin-top: 0.625em;
  margin-bottom: 0.625em;
}
dd {
  margin-left: 2.5em;
}
blockquote {
  padding: 1.25em 2.5em;
}
blockquote > :first-child {
  margin-top: 0;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: "";
  content: none;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
small {
  font-size: 1em;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/*

Typography

Font Face declarations to load in custom fonts.

*/
.primary-font,
.pt-serif {
  font-family: "pt-serif", "Times New Roman", Georgia, serif;
}
.secondary-font,
.proxima-nova-soft {
  font-family: "proxima-nova-soft", Helvetica, Arial, "Arial Unicode", "Lucida Sans Unicode", Arial, sans-serif;
}
/*

Type Size Applied

Description:
Type defined in config is being applied.

Markup Examples:
<p class="great-text">The cow jumped over the moon</p>
<p class="canon-text">The cow jumped over the moon</p>
<p class="paragon-text">The cow jumped over the moon</p>
<p class="primer-text">The cow jumped over the moon</p>
<p class="normal-text">The cow jumped over the moon</p>
<p class="petite-text">The cow jumped over the moon</p>
<p class="minion-text">The cow jumped over the moon</p>

*/
.great-text {
  font-size: 48px;
  font-size: 3rem;
}
.canon-text {
  font-size: 32px;
  font-size: 2rem;
}
.paragon-text {
  font-size: 24px;
  font-size: 1.5rem;
}
.primer-text {
  font-size: 18px;
  font-size: 1.125rem;
}
.normal-text {
  font-size: 16px;
  font-size: 1rem;
}
.petite-text {
  font-size: 14px;
  font-size: 0.875rem;
}
.minion-text {
  font-size: 12px;
  font-size: 0.75rem;
}
.pearl-text {
  font-size: 10px;
  font-size: 0.625rem;
}
/*

Headings

Markup Example:
<h1 class="primary-heading">This is a Primary Heading</h1>

Description:
Headings within a wysiwyg can have some default size
styling applied since it will be client and copywriter
manageable.

*/
.primary-heading {
  color: #fa6851;
  font-family: "proxima-nova-soft", Helvetica, Arial, "Arial Unicode", "Lucida Sans Unicode", Arial, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.secondary-heading {
  color: #339bbb;
  font-family: "proxima-nova-soft", Helvetica, Arial, "Arial Unicode", "Lucida Sans Unicode", Arial, sans-serif;
}
.tertiary-heading {
  color: #613c4f;
  font-family: "proxima-nova-soft", Helvetica, Arial, "Arial Unicode", "Lucida Sans Unicode", Arial, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1.25em;
}
.wysiwyg h1 {
  font-size: 32px;
  font-size: 2rem;
}
.wysiwyg h2 {
  font-size: 24px;
  font-size: 1.5rem;
}
.wysiwyg h3 {
  font-size: 18px;
  font-size: 1.125rem;
}
.wysiwyg h4 {
  font-size: 16px;
  font-size: 1rem;
}
/*

Ordered List

Class Sets To Use:
Literally copy the two lines below and paste them outside
of this comment and begin styling them.

.wysiwyg ol {}
.ordered-list {}

*/
/*

Unordered List

Class Sets To Use:
Literally copy the two lines below and paste them outside
of this comment and begin styling them.

.wysiwyg ul {}
.unordered-list {}

*/
/*

Blockquotes

Class Sets To Use:
Literally copy the two lines below and paste them outside
of this comment and begin styling them.

.wysiwyg blockquote {}
.blockquote {}

*/
/*

Links

Types: 
Normal
Tel: 555-555-5555

*/
[href^="tel:"] {
  cursor: default;
}
/*

Body Text

*/
html,
body {
  font-size: 100%;
  font-family: "pt-serif", "Times New Roman", Georgia, serif;
  color: #666666;
}
/*

Paragraph Defaults

*/
p {
  line-height: 1.5em;
}
/*
Colors
*/
.white,
.inverse-text {
  color: #ffffff;
}
.black {
  color: #000000;
}
.primary-color {
  color: #fa6851;
}
.secondary-color {
  color: #339bbb;
}
.tertiary-color {
  color: #613c4f;
}
.base-color {
  color: #666666;
}
.grey-color {
  color: #a9a9a9;
}
.success-color {
  color: #019026;
}
/*

Weights

*/
.thin {
  font-weight: 100;
}
.normal {
  font-weight: 400;
}
.medium {
  font-weight: 500;
}
.semibold {
  font-weight: 600;
}
.bold {
  font-weight: 700;
}
/* 
Cases
*/
.uppercase {
  text-transform: uppercase;
}
.lowercase {
  text-transform: lowercase;
}
.capitalize {
  text-transform: capitalize;
}
/*
Additional
*/
.dotted-underline {
  border-bottom: dotted 1px;
}
a {
  text-decoration: none;
}
.button {
  font-family: "proxima-nova-soft", Helvetica, Arial, "Arial Unicode", "Lucida Sans Unicode", Arial, sans-serif;
  color: #ffffff;
  text-align: center;
  display: inline-block;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  padding-left: 1.25em;
  padding-right: 1.25em;
  padding-top: 0.625em;
  padding-bottom: 0.625em;
}
.button.primary {
  text-transform: uppercase;
  background: #fa6851;
  border-bottom: solid 3px #f72807;
}
.button.primary:hover {
  background: #fa7560;
}
.button.secondary {
  text-transform: lowercase;
  background: #339bbb;
  border-bottom: solid 3px #23697f;
}
.button.secondary:hover {
  background: #36a5c7;
}
.button.cart {
  text-transform: uppercase;
  background: #339bbb;
  border-bottom: solid 3px #23697f;
}
.button.cart:hover {
  background: #36a5c7;
}
.button.arrow {
  position: relative;
  background: #339bbb;
  width: 25px;
  height: 25px;
  margin-bottom: -5px;
  font-size: 1px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
}
.button.arrow:hover {
  background: #3da9ca;
}
.button.arrow:before {
  content: "";
  position: absolute;
  top: 7px;
  left: 11px;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid white;
}
.button.arrow:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  border: solid 1px #ffffff;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
}
.button.small {
  font-size: 14px;
  font-size: 0.875rem;
}
.button.large {
  font-size: 24px;
  font-size: 1.5rem;
}
.tabs {
  padding-left: 0;
  list-style: none outside none;
  padding: 0;
}
.tabs .tab-content {
  display: none;
}
.tabs .tab-heading {
  cursor: pointer;
  float: left;
  background: #e9e9e9;
  font-family: "proxima-nova-soft", Helvetica, Arial, "Arial Unicode", "Lucida Sans Unicode", Arial, sans-serif;
  padding-left: 0.625em;
  padding-right: 0.625em;
  padding-top: 0.3125em;
  padding-bottom: 0.3125em;
  margin-right: 0.3125em;
  margin-bottom: 0.9375em;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
}
.tabs .tab-heading.active {
  background: #613c4f;
  color: #ffffff;
}
.tabs-container {
  clear: both;
  display: block;
  padding: 0.3125em;
}
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus {
  outline: none;
}
.slides,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}
.flexslider .slides {
  zoom: 1;
}
.slides:after {
  content: "\0020";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
html[xmlns] .slides {
  display: block;
}
* html .slides {
  height: 1%;
}
.no-js .slides > li:first-child {
  display: block;
}
.flexslider {
  margin: 0;
  padding: 0;
}
.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden;
}
.flexslider .slides img {
  width: 100%;
  display: block;
}
.flex-control-nav {
  width: 100%;
  position: absolute;
  z-index: 3;
  bottom: 2%;
  text-align: center;
}
.flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.flex-control-paging li a {
  width: 11px;
  height: 11px;
  display: block;
  background: #999999;
  cursor: pointer;
  text-indent: -9999px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
}
.flex-control-paging li a:hover {
  background: #666666;
}
.flex-control-paging li a.flex-active {
  background: #ffffff;
}
[class*='flex-slide'] {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding-top: 8.4375em;
  padding-bottom: 8.125em;
}
.flex-slide--1 {
  background-image: url("/skin/leaf-base/images/slides/stw-slider-play.jpg");
}
.flex-slide--2 {
  background-image: url("/skin/leaf-base/images/slides/stw-slider-quality.jpg");
}
.flex-slide--3 {
  background-image: url("/skin/leaf-base/images/slides/stw-slider-trampolines.jpg");
}
/*

Text Align

Simple classes to adjust your text alignment. They can be added to individual elements or on wrapping elements (an outer `div`, perhaps) to adjust the alignment of all the child elements.

The default styling:

Markup:
<p class="{$modifiers}">Aligned Text</p>

.align-left - Usually the same as the site default
.align-center - Center aligns text as well as any non-block child elements
.align-right - Aligns things to the right

*/
.align-left {
  text-align: left;
}
.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}
.align-sub {
  vertical-align: sub;
}
.align-middle {
  vertical-align: middle;
}
.align-top {
  vertical-align: top;
}
/*

Floats

Next, we have classes for floating elements.

Without floating:

Markup:
<div class="panel {$modifiers} gt-third gd-third">A Floating Panel</div>

.float-left - Floats the element to the left
.float-center - Doesn't actually float, but rather sets margins to `auto`. *Requires a set width!*
.float-right - Floats the element to the right


*/
.float-left {
  float: left;
}
.float-center {
  margin-left: auto;
  margin-right: auto;
}
.float-right {
  float: right;
}
.clear {
  clear: both;
}
/*

"New Line"

Turns an `inline` or `inline-block` element into a `block` one. Like magic, 
turns whatever it touches into block.

Markup:
This is text with a <span class="new-line">span tag</span> nested inline


*/
.new-line {
  display: block;
}
.group {
  /* Mixins */
}
.lte7 .group {
  zoom: 1;
}
.group:before,
.group:after {
  content: "\0020";
  height: 0;
  display: block;
  overflow: hidden;
}
.group:after {
  clear: both;
}
.inline-block {
  display: inline-block;
}
/*

"Is Hidden"

Visually hides content in a way that leaves it accessible to screen readers. 
Like more magic, makes the visible invisible.

Markup:
Now you see me<span class="is-hidden">, now you don't.</span>

*/
.is-hidden {
  /* Mixins */
  width: 1px;
  height: 1px;
  padding: 0;
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  border: 0;
  overflow: hidden;
}
.is-hidden.focusable:active,
.is-hidden.focusable:focus {
  width: auto;
  height: auto;
  margin: 0;
  clip: auto;
  overflow: visible;
  position: static;
}
body:hover .is-hidden a,
body:hover .is-hidden input,
body:hover .is-hidden button {
  display: none;
}
/*----Simple Reveal-----*/
.simple-reveal-container {
  width: 1px;
  height: 1px;
  padding: 0;
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  border: 0;
  overflow: hidden;
}
.simple-reveal-container.focusable:active,
.simple-reveal-container.focusable:focus {
  width: auto;
  height: auto;
  margin: 0;
  clip: auto;
  overflow: visible;
  position: static;
}
body:hover .simple-reveal-container a,
body:hover .simple-reveal-container input,
body:hover .simple-reveal-container button {
  display: none;
}
.simple-reveal-container.is-current {
  width: auto;
  height: auto;
  margin: 0;
  position: relative;
  clip: auto;
}
body:hover .simple-reveal-container.is-current a,
body:hover .simple-reveal-container.is-current input,
body:hover .simple-reveal-container.is-current button {
  display: inline-block;
}
.lte7 body:hover .simple-reveal-container.is-current a,
.lte7 body:hover .simple-reveal-container.is-current input,
.lte7 body:hover .simple-reveal-container.is-current button {
  display: inline;
  zoom: 1;
}
.relative,
.relative-container {
  position: relative;
}
/* 
Margin Removal
*/
.mn {
  margin: 0;
}
.mtn {
  margin-top: 0;
}
.mrn {
  margin-right: 0;
}
.mbn {
  margin-bottom: 0;
}
.mln {
  margin-left: 0;
}
/*
Margin All
*/
.mxs {
  margin: 0.3125em;
}
.ms {
  margin: 0.3125em;
}
.mm {
  margin: 0.3125em;
}
.ml {
  margin: 0.3125em;
}
.mxl {
  margin: 0.3125em;
}
/*
Margin Top
*/
.mtxs {
  margin-top: 0.3125em;
}
.mts {
  margin-top: 0.9375em;
}
.mtm {
  margin-top: 1.5625em;
}
.mtl {
  margin-top: 2.1875em;
}
.mtxl {
  margin-top: 2.8125em;
}
/*
Margin Right
*/
.mrxs {
  margin-right: 0.3125em;
}
.mrs {
  margin-right: 0.9375em;
}
.mrm {
  margin-right: 1.5625em;
}
.mrl {
  margin-right: 2.1875em;
}
.mrxl {
  margin-right: 2.8125em;
}
/*
Margin Bottom
*/
.mbxs {
  margin-bottom: 0.3125em;
}
.mbs {
  margin-bottom: 0.9375em;
}
.mbm {
  margin-bottom: 1.5625em;
}
.mbl {
  margin-bottom: 2.1875em;
}
.mbxl {
  margin-bottom: 2.8125em;
}
/*
Margin Left
*/
.mlxs {
  margin-left: 0.3125em;
}
.mls {
  margin-left: 0.9375em;
}
.mlm {
  margin-left: 1.5625em;
}
.mll {
  margin-left: 2.1875em;
}
.mlxl {
  margin-left: 2.8125em;
}
/*
Margin Vertical (Top & Bottom)
*/
.mvxs {
  margin-top: 0.3125em;
  margin-bottom: 0.3125em;
}
.mvs {
  margin-top: 0.9375em;
  margin-bottom: 0.9375em;
}
.mvm {
  margin-top: 1.5625em;
  margin-bottom: 1.5625em;
}
.mvl {
  margin-top: 2.1875em;
  margin-bottom: 2.1875em;
}
.mvxl {
  margin-top: 2.8125em;
  margin-bottom: 2.8125em;
}
/*
Margin Horizontal (Left & Right)
*/
.mhxs {
  margin-left: 0.3125em;
  margin-right: 0.3125em;
}
.mhs {
  margin-left: 0.9375em;
  margin-right: 0.9375em;
}
.mhm {
  margin-left: 1.5625em;
  margin-right: 1.5625em;
}
.mhl {
  margin-left: 2.1875em;
  margin-right: 2.1875em;
}
.mhxl {
  margin-left: 2.8125em;
  margin-right: 2.8125em;
}
/* 
Padding Removal
*/
.pn {
  padding: 0;
}
.ptn {
  padding-top: 0;
}
.prn {
  padding-right: 0;
}
.pbn {
  padding-bottom: 0;
}
.pln {
  padding-left: 0;
}
/*
Padding All
*/
.pxs {
  padding: 0.3125em;
}
.ps {
  padding: 0.9375em;
}
.pm {
  padding: 1.5625em;
}
.pl {
  padding: 2.1875em;
}
.pxl {
  padding: 2.8125em;
}
/*
Padding Top
*/
.ptxs {
  padding-top: 0.3125em;
}
.pts {
  padding-top: 0.9375em;
}
.ptm {
  padding-top: 1.5625em;
}
.ptl {
  padding-top: 2.1875em;
}
.ptxl {
  padding-top: 2.8125em;
}
/*
Padding Right
*/
.prxs {
  padding-right: 0.3125em;
}
.prs {
  padding-right: 0.9375em;
}
.prm {
  padding-right: 1.5625em;
}
.prl {
  padding-right: 2.1875em;
}
.prxl {
  padding-right: 2.8125em;
}
/*
Padding Bottom
*/
.pbxs {
  padding-bottom: 0.3125em;
}
.pbs {
  padding-bottom: 0.9375em;
}
.pbm {
  padding-bottom: 1.5625em;
}
.pbl {
  padding-bottom: 2.1875em;
}
.pbxl {
  padding-bottom: 2.8125em;
}
/*
Padding Left
*/
.plxs {
  padding-left: 0.3125em;
}
.pls {
  padding-left: 0.9375em;
}
.plm {
  padding-left: 1.5625em;
}
.pll {
  padding-left: 2.1875em;
}
.plxl {
  padding-left: 2.8125em;
}
/*
Padding Vertical (Top & Bottom)
*/
.pvxs {
  padding-top: 0.3125em;
  padding-bottom: 0.3125em;
}
.pvs {
  padding-top: 0.9375em;
  padding-bottom: 0.9375em;
}
.pvm {
  padding-top: 1.5625em;
  padding-bottom: 1.5625em;
}
.pvl {
  padding-top: 2.1875em;
  padding-bottom: 2.1875em;
}
.pvxl {
  padding-top: 2.8125em;
  padding-bottom: 2.8125em;
}
/*
Padding Horizontal (Left & Right)
*/
.phxs {
  padding-left: 0.3125em;
  padding-right: 0.3125em;
}
.phs {
  padding-left: 0.9375em;
  padding-right: 0.9375em;
}
.phm {
  padding-left: 1.5625em;
  padding-right: 1.5625em;
}
.phl {
  padding-left: 2.1875em;
  padding-right: 2.1875em;
}
.phxl {
  padding-left: 2.8125em;
  padding-right: 2.8125em;
}
/*
Border Radius 
*/
.rounded {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
}
.media-grid {
  margin-top: 0;
  padding: 0;
  letter-spacing: -0.31em;
  word-spacing: -0.43em;
}
.lte7 .media-grid {
  letter-spacing: normal;
}
.media-grid .object {
  margin-top: 1.875em;
  list-style: none outside none;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  display: inline-block;
}
.lte7 .media-grid .object {
  display: inline;
  zoom: 1;
}
.media-grid .object img {
  display: block;
}
.media-grid .object.gm-columns,
.media-grid .object.gt-columns,
.media-grid .object.gd-columns {
  float: none;
}
.primary-bg {
  background-color: #fa6851;
}
.secondary-bg {
  background-color: #339bbb;
}
.secondary-bg-dark {
  background-color: #23697f;
}
.tertiary-bg {
  background-color: #613c4f;
}
.quarternary-bg {
  background-color: #fff4e4;
}
.white-bg {
  background-color: #ffffff;
}
.wrapper {
  width: 92%;
  margin-left: auto;
  margin-right: auto;
}
.top-header {
  padding-top: 0.3125em;
  padding-bottom: 0.3125em;
}
.middle-header {
  background-color: #339bbb;
}
.bottom-header {
  border-bottom: solid 1px #e9e9e9;
}
.eyebrow-nav {
  color: #65bbd5;
}
.main-nav .main-nav__link {
  color: #ffffff;
  padding-top: 1.66666667em;
  padding-bottom: 1.66666667em;
  padding-left: 0.83333333em;
  padding-right: 0.83333333em;
  font-size: 12px;
  font-size: 0.75rem;
}
.main-nav .main-nav__link:hover {
  background: #23697f;
}
.logo {
  position: relative;
  top: -0.3125em;
  left: 0;
}
.link--phone {
  color: #339bbb;
}
.secondary-nav {
  display: none;
}
.tertiary-nav a {
  color: #666666;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 0.83333333em;
  padding-right: 0.83333333em;
  font-size: 12px;
  font-size: 0.75rem;
}
.tertiary-nav a:hover {
  color: #808080;
}
.tertiary-nav a.cart {
  color: #ffffff;
  background-color: #fa6851;
}
.tertiary-nav a.cart:hover {
  background: #f95238;
}
.nav {
  margin: 0;
  padding-left: 0;
  list-style: none outside none;
  text-align: right;
  font-family: "proxima-nova-soft", Helvetica, Arial, "Arial Unicode", "Lucida Sans Unicode", Arial, sans-serif;
}
.nav li {
  display: inline-block;
}
.nav li a {
  text-decoration: none;
  display: block;
}
.products-specials {
  background: #fff4e4;
}
.product_listing--box {
  padding: 1.5625em;
}
.featured-item {
  background: #339bbb url("/skin/leaf-base/images/pattern-diamond.png");
  padding-top: 2.8125em;
  padding-bottom: 2.8125em;
}
.featured-item .featured-heading {
  color: #a2d5e5;
  font-weight: 600;
  font-family: "proxima-nova-soft", Helvetica, Arial, "Arial Unicode", "Lucida Sans Unicode", Arial, sans-serif;
}
.product-sort {
  position: relative;
  padding: 0 0.625em;
  margin-right: 0.3125em;
}
.product-sort .down-direction,
.product-sort .up-direction {
  text-decoration: underline;
}
.product-sort .down-direction:after,
.product-sort .up-direction:after {
  content: "";
  position: absolute;
  top: 5px;
  right: 0;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #339bbb;
}
.product-sort .up-direction:after {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid #339bbb;
  border-top: 0;
}
.product-nav--list {
  padding-left: 0;
}
.product-nav--sub {
  list-style-type: none;
  font-weight: 600;
  padding-left: 0;
  list-style: none outside none;
  font-size: 12px;
  font-size: 0.75rem;
  font-family: "proxima-nova-soft", Helvetica, Arial, "Arial Unicode", "Lucida Sans Unicode", Arial, sans-serif;
}
.product-nav--sub li {
  line-height: 1.75;
}
.product-nav--sub > li {
  border-bottom: dotted 1px;
}
.product-nav--sub a {
  color: #666666;
}
.product-nav--sub a:hover {
  color: #333333;
}
.product-nav--sub .active {
  font-weight: 100;
  list-style-type: none;
}
.product-nav--sub .active a {
  border-top: solid 2px;
}
.product-nav--sub .active a:first-child {
  border: 0;
}
.product-listing {
  margin-bottom: 1.875em;
}
.product-listing .item-title {
  color: #000000;
  font-family: "proxima-nova-soft", Helvetica, Arial, "Arial Unicode", "Lucida Sans Unicode", Arial, sans-serif;
  font-weight: 600;
  word-wrap: break-word;
}
.product-listing .item-price {
  color: #999999;
  font-family: "proxima-nova-soft", Helvetica, Arial, "Arial Unicode", "Lucida Sans Unicode", Arial, sans-serif;
  font-size: 14px;
  font-size: 0.875rem;
  margin-bottom: 0.625em;
}
.product-stock {
  margin-top: 0.9375em;
  margin-bottom: 0.9375em;
  font-family: "proxima-nova-soft", Helvetica, Arial, "Arial Unicode", "Lucida Sans Unicode", Arial, sans-serif;
  font-size: 14px;
  font-size: 0.875rem;
}
.product-stock .in-stock {
  color: #019026;
  font-weight: 600;
  margin-right: 0.3125em;
}
.product-price {
  font-family: "proxima-nova-soft", Helvetica, Arial, "Arial Unicode", "Lucida Sans Unicode", Arial, sans-serif;
  color: #fa6851;
  font-size: 32px;
  font-size: 2rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0.9375em;
}
.product-options {
  background: #e9e9e9;
  margin-top: 0.9375em;
  margin-bottom: 0.9375em;
  padding: 1.25em;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
}
.product-options .option-label {
  margin-top: 0;
  margin-bottom: 0.9375em;
}
.product-actions .quantity-container {
  display: inline-block;
  margin-right: 0.625em;
  margin-bottom: 0.9375em;
}
.product-actions .quantity-label {
  display: inline-block;
  font-family: "proxima-nova-soft", Helvetica, Arial, "Arial Unicode", "Lucida Sans Unicode", Arial, sans-serif;
  float: left;
  margin-right: 0.625em;
}
.product-actions .quantity-value {
  display: inline-block;
  width: 25px;
  height: 25px;
}
.product-actions .add-cart-container {
  display: inline-block;
  vertical-align: top;
}
.form-link {
  text-decoration: none;
  color: #fa6851;
  background: none;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: dotted 1px;
}
.form-link:hover {
  color: #f95238;
}
.form-label {
  text-transform: capitalize;
  font-weight: 400;
  font-family: "proxima-nova-soft", Helvetica, Arial, "Arial Unicode", "Lucida Sans Unicode", Arial, sans-serif;
}
.form-input {
  border: solid 1px #999999;
  font-family: "proxima-nova-soft", Helvetica, Arial, "Arial Unicode", "Lucida Sans Unicode", Arial, sans-serif;
  font-weight: 400;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  padding-top: 0.3125em;
  padding-bottom: 0.3125em;
  padding-left: 0.625em;
  padding-right: 0.625em;
  margin-top: 0.3125em;
  margin-bottom: 0.3125em;
}
.form-input:focus {
  outline: none;
  background: #f6f6f6;
}
.form-container.colored {
  background: #e9e9e9;
  padding: 1.25em;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
}
.inline-selector {
  display: inline-block;
  margin: 0.3125em;
}
.is-hidden {
  width: 1px;
  height: 1px;
  padding: 0;
  position: absolute;
  position: relative\9;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  border: 0;
  overflow: hidden;
}
.ui-widget-overlay {
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.ui-widget-content {
  background: #ffffff;
  color: #666666;
  top: 7.8125em !important;
  right: 1.5625em !important;
  left: 1.5625em !important;
  max-height: 46.875em !important;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
}
.ui-front {
  z-index: 10000;
}
.ui-dialog {
  position: fixed;
  padding: 1.25em;
}
.ui-button {
  float: right;
  font-family: "proxima-nova-soft", Helvetica, Arial, "Arial Unicode", "Lucida Sans Unicode", Arial, sans-serif;
  background: none;
  border: none;
  outline: none;
  padding: 0;
  border-bottom: dotted 1px;
}
.ui-dialog-title {
  font-family: "proxima-nova-soft", Helvetica, Arial, "Arial Unicode", "Lucida Sans Unicode", Arial, sans-serif;
  color: #fa6851;
  font-weight: 600;
  text-transform: capitalize;
  font-size: 24px;
  font-size: 1.5rem;
}
.account-nav {
  list-style-type: none;
  padding-left: 1.5625em;
}
.account-nav li {
  border-bottom: dotted 1px;
  margin-bottom: 0.3125em;
}
.account-nav li a {
  position: relative;
  color: #000000;
  font-weight: 600;
  font-family: "proxima-nova-soft", Helvetica, Arial, "Arial Unicode", "Lucida Sans Unicode", Arial, sans-serif;
}
.account-nav li a:before {
  content: "+";
  position: absolute;
  top: 0;
  left: 0;
  background: #fa6851;
  color: #ffffff;
  display: block;
  padding: 0 0.3125em;
  margin-left: -1.5625em;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.account-nav li a:hover {
  color: #666666;
}
.account-nav li a:hover:before {
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
  overflow: hidden;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.main-footer {
  background: #fff4e4;
}
.bottom-footer {
  background: #fa6851;
  color: #ffffff;
  font-weight: 100;
  font-size: 14px;
  font-size: 0.875rem;
  font-family: "proxima-nova-soft", Helvetica, Arial, "Arial Unicode", "Lucida Sans Unicode", Arial, sans-serif;
  padding-top: 0.9375em;
  padding-bottom: 0.9375em;
}
.bottom-footer a {
  text-decoration: none;
  color: #fca99b;
}
.footer-links {
  font-family: "proxima-nova-soft", Helvetica, Arial, "Arial Unicode", "Lucida Sans Unicode", Arial, sans-serif;
  font-weight: 100;
}
.footer-links a {
  text-decoration: none;
  line-height: 2;
  color: #666666;
  margin-top: 0.9375em;
}
.footer-links a:hover {
  color: #339bbb;
}
[class*='icon'] {
  display: inline-block;
}
.icon--phone {
  width: 20px;
  height: 20px;
  background-image: url("/skin/leaf-base/images/global-sprite.png");
  background-position: 0px 0px;
  margin-right: 0.3125em;
}
.social {
  color: #ffffff;
  position: relative;
  font-family: "proxima-nova-soft", Helvetica, Arial, "Arial Unicode", "Lucida Sans Unicode", Arial, sans-serif;
  padding-left: 2em;
  padding-right: 0.75em;
  padding-top: 0.375em;
  padding-bottom: 0.375em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.social:before {
  content: "";
  position: absolute;
  left: 5px;
  top: 5px;
  display: block;
  width: 12px;
  height: 10px;
}
.social.pinterest {
  background: #c8232c;
}
.social.pinterest:hover {
  background: #b21f27;
}
.social.pinterest:before {
  background-image: url("/skin/leaf-base/images/global-sprite.png");
  background-position: -200px 0px;
}
.social.facebook {
  background: #3b5998;
}
.social.facebook:hover {
  background: #344e86;
}
.social.facebook:before {
  background-image: url("/skin/leaf-base/images/global-sprite.png");
  background-position: -100px 0px;
}
.social.twitter {
  background: #4099ff;
}
.social.twitter:hover {
  background: #268bff;
}
.social.twitter:before {
  background-image: url("/skin/leaf-base/images/global-sprite.png");
  background-position: -150px 0px;
}
.bread-crumb:before {
  content: " :: ";
}
.bread-crumb:first-child:before {
  content: "";
}
.results-nav .nav-page,
.results-nav .current-page {
  padding: 0.3125em 0.625em;
  margin: 0.3125em;
  font-family: "proxima-nova-soft", Helvetica, Arial, "Arial Unicode", "Lucida Sans Unicode", Arial, sans-serif;
}
.results-nav .current-page {
  font-weight: 700;
}
.results-nav .nav-page {
  background: #339bbb;
  color: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.results-nav .nav-page:hover {
  background: #51b2d0;
}
.js .tabs .tab {
  max-height: 0;
  position: relative;
  overflow: hidden;
}
.js .tabs .tab.is-current {
  max-height: 999em;
}
.tabbed-nav--interior {
  width: 100%;
  border-bottom: solid 1px #999999;
}
.tabbed-nav--row {
  display: table-row;
}
.tabbed-nav--item {
  display: table-cell;
  color: #000000;
  text-align: center;
  vertical-align: middle;
  font-family: "proxima-nova-soft", Helvetica, Arial, "Arial Unicode", "Lucida Sans Unicode", Arial, sans-serif;
  padding-top: 0.625em;
  padding-bottom: 0.625em;
  padding-left: 1.25em;
  padding-right: 1.25em;
  border-top: solid 1px #ffffff;
  border-left: solid 1px #ffffff;
  border-right: solid 1px #ffffff;
  -webkit-border-top-right-radius: 15px;
  -webkit-border-top-left-radius: 15px;
  -moz-border-radius-topright: 15px;
  -moz-border-radius-topleft: 15px;
  -o-border-top-right-radius: 15px;
  -o-border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
.tabbed-nav--item .tabbed-nav--label {
  position: relative;
}
.tabbed-nav--item:focus,
.tabbed-nav--item.is-current {
  border-top: solid 1px #999999;
  border-left: solid 1px #999999;
  border-right: solid 1px #999999;
  font-weight: 600;
  position: relative;
}
.tabbed-nav--item:focus:after,
.tabbed-nav--item.is-current:after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  border-bottom: solid 1px #ffffff;
}
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
  border: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.error-message {
  background: rgba(250, 104, 81, 0.7);
  color: #ffffff;
  font-family: "proxima-nova-soft", Helvetica, Arial, "Arial Unicode", "Lucida Sans Unicode", Arial, sans-serif;
  position: relative;
  font-size: 14px;
  font-size: 0.875rem;
  padding: 1.25em;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
}
@media only screen and (max-width: 47.9375em) {
  /*

Example Markup:

<div class="gd-row">
	<div class="gd-columns gd-3of12">
		Some Content
	</div>
	<div class="gd-columns gd-3of12">
		Some Content
	</div>
	<div class="gd-columns gd-3of12">
		Some Content
	</div>
</div>

*/
  .gm-row {
    margin-left: -0.75em;
    margin-right: -0.75em;
  }
  .lte7 .gm-row {
    zoom: 1;
  }
  .gm-row:before,
  .gm-row:after {
    content: "\0020";
    height: 0;
    display: block;
    overflow: hidden;
  }
  .gm-row:after {
    clear: both;
  }
  .gm-row.gm-rtl .gd-columns {
    float: right;
  }
  .gm-row.gm-ltr .gd-columns {
    float: left;
  }
  .gm-columns {
    display: inline;
    float: left;
    padding-left: 0.75em;
    padding-right: 0.75em;
  }
  .gm-clear {
    clear: both;
  }
  .gm-full {
    width: 100%;
  }
  .gm-half {
    width: 50%;
  }
  .gm-two-thirds {
    width: 66.66666666666666%;
  }
  .gm-third {
    width: 33.33333333333333%;
  }
  .mobile-none {
    display: none;
  }
  .eyebrow-nav .link--phone {
    position: absolute;
    bottom: 0.625em;
    right: 0;
  }
  .product-nav--list,
  .home-slider {
    display: none;
  }
  .inner-content {
    padding-top: 1.875em;
    padding-bottom: 5.3125em;
  }
  .ui-widget-content {
    top: 1.5625em !important;
    bottom: 0.625em !important;
  }
}
@media only screen and (min-width: 48em) and (max-width: 61.9375em) {
  /*

Example Markup:

<div class="gt-row">
	<div class="gt-columns gt-3of9">
		Some Content
	</div>
	<div class="gt-columns gt-3of9">
		Some Content
	</div>
	<div class="gt-columns gt-3of9">
		Some Content
	</div>
</div>

*/
  .gt-row {
    margin-left: -1.125em;
    margin-right: -1.125em;
  }
  .lte7 .gt-row {
    zoom: 1;
  }
  .gt-row:before,
  .gt-row:after {
    content: "\0020";
    height: 0;
    display: block;
    overflow: hidden;
  }
  .gt-row:after {
    clear: both;
  }
  .gt-row.gt-rtl .gt-columns {
    float: right;
  }
  .gt-row.gt-ltr .gt-columns {
    float: left;
  }
  .gt-columns {
    display: inline;
    float: left;
    padding-left: 1em;
    padding-right: 1em;
  }
  .gt-clear {
    clear: both;
  }
  .gt-full {
    width: 100%;
  }
  .gt-three-quarters,
  .gt-3of4,
  .gt-6of8 {
    width: 75%;
  }
  .gt-half,
  .gt-1of2,
  .gt-2of4,
  .gt-3of6,
  .gt-4of8 {
    width: 50%;
  }
  .gt-quarter,
  .gt-1of4,
  .gt-2of8 {
    width: 25%;
  }
  .gt-two-thirds,
  .gt-2of3,
  .gt-4of6,
  .gt-6of9 {
    width: 66.66666666666666%;
  }
  .gt-third,
  .gt-1of3,
  .gt-2of6,
  .gt-3of9 {
    width: 33.33333333333333%;
  }
  .gt-8of9 {
    width: 88.88888889%;
  }
  .gt-7of8 {
    width: 87.5%;
  }
  .gt-6of7 {
    width: 85.71428571%;
  }
  .gt-5of6 {
    width: 83.33333333%;
  }
  .gt-4of5 {
    width: 80%;
  }
  .gt-7of9 {
    width: 77.77777778%;
  }
  .gt-5of7 {
    width: 71.42857143%;
  }
  .gt-3of5 {
    width: 60%;
  }
  .gt-5of8 {
    width: 62.5%;
  }
  .gt-4of7 {
    width: 57.14285714%;
  }
  .gt-2of5 {
    width: 40%;
  }
  .gt-5of9 {
    width: 55.55555556%;
  }
  .gt-3of7 {
    width: 42.85714286%;
  }
  .gt-1of5 {
    width: 20%;
  }
  .gt-4of9 {
    width: 44.44444444%;
  }
  .gt-3of8 {
    width: 37.5%;
  }
  .gt-2of7 {
    width: 28.57142857%;
  }
  .gt-1of6 {
    width: 16.66666667%;
  }
  .gt-1of7 {
    width: 14.28571429%;
  }
  .gt-2of9 {
    width: 22.22222222%;
  }
  .gt-1of8 {
    width: 12.5%;
  }
  .gt-1of9 {
    width: 11.11111111%;
  }
}
@media only screen and (min-width: 48em) {
  .main-nav .main-nav__link {
    padding-top: 0.83333333em;
    padding-bottom: 0.83333333em;
    padding-left: 1.11111111em;
    padding-right: 1.11111111em;
    font-size: 18px;
    font-size: 1.125rem;
  }
  .logo {
    max-width: 35%;
    position: absolute;
    top: 0;
    z-index: 999;
  }
  .sub-nav {
    position: relative;
  }
  .sub-nav:hover .main-nav__link,
  .sub-nav:focus .main-nav__link {
    background: #23697f;
  }
  .sub-nav:hover .secondary-nav,
  .sub-nav:focus .secondary-nav {
    top: 100%;
    z-index: 50;
    opacity: 1;
  }
  .secondary-nav {
    width: 250%;
    display: block;
    position: absolute;
    top: 120%;
    left: 0;
    z-index: -1;
    opacity: 0;
    text-align: left;
    background-color: #fa6851;
    -webkit-transition: top 0.25s ease-in-out, opacity 0.25s ease-in-out;
    -moz-transition: top 0.25s ease-in-out, opacity 0.25s ease-in-out;
    -o-transition: top 0.25s ease-in-out, opacity 0.25s ease-in-out;
    transition: top 0.25s ease-in-out, opacity 0.25s ease-in-out;
  }
  .secondary-nav li {
    display: block;
  }
  .secondary-nav li a {
    display: inline-block;
  }
  .secondary-nav a {
    color: #ffffff;
    position: relative;
    padding-top: 0.625em;
    padding-bottom: 0.625em;
    font-size: 16px;
    font-size: 1rem;
  }
  .secondary-nav a:hover:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: dotted 1px;
  }
  .tertiary-nav a {
    padding-top: 0.85714286em;
    padding-bottom: 0.85714286em;
    padding-left: 1.07142857em;
    padding-right: 1.07142857em;
    font-size: 14px;
    font-size: 0.875rem;
  }
  .inner-content {
    padding-top: 3.75em;
    padding-bottom: 5.3125em;
  }
}
@media only screen and (min-width: 62em) {
  /*

Example Markup:

<div class="gd-row">
	<div class="gd-columns gd-3of12">
		Some Content
	</div>
	<div class="gd-columns gd-3of12">
		Some Content
	</div>
	<div class="gd-columns gd-3of12">
		Some Content
	</div>
</div>

*/
  .gd-row {
    margin-left: -1.125em;
    margin-right: -1.125em;
  }
  .lte7 .gd-row {
    zoom: 1;
  }
  .gd-row:before,
  .gd-row:after {
    content: "\0020";
    height: 0;
    display: block;
    overflow: hidden;
  }
  .gd-row:after {
    clear: both;
  }
  .gd-row.gd-rtl .gd-columns {
    float: right;
  }
  .gd-row.gd-ltr .gd-columns {
    float: left;
  }
  .gd-columns {
    display: inline;
    float: left;
    padding-left: 1.125em;
    padding-right: 1.125em;
  }
  .gd-clear {
    clear: both;
  }
  .gd-full {
    width: 100%;
  }
  .gd-three-quarters,
  .gd-3of4,
  .gd-6of8,
  .gd-9of12 {
    width: 75%;
  }
  .gd-half,
  .gd-1of2,
  .gd-2of4,
  .gd-3of6,
  .gd-4of8,
  .gd-5of10,
  .gd-6of12 {
    width: 50%;
  }
  .gd-quarter,
  .gd-1of4,
  .gd-2of8,
  .gd-3of12 {
    width: 25%;
  }
  .gd-two-thirds,
  .gd-2of3,
  .gd-4of6,
  .gd-6of9,
  .gd-8of12 {
    width: 66.66666666666666%;
  }
  .gd-third,
  .gd-1of3,
  .gd-2of6,
  .gd-3of9,
  .gd-4of12 {
    width: 33.33333333333333%;
  }
  .gd-11of12 {
    width: 91.66666667%;
  }
  .gd-10of11 {
    width: 90.90909091%;
  }
  .gd-9of10 {
    width: 90%;
  }
  .gd-8of9 {
    width: 88.88888889%;
  }
  .gd-7of8 {
    width: 87.5%;
  }
  .gd-6of7 {
    width: 85.71428571%;
  }
  .gd-5of6 {
    width: 83.33333333%;
  }
  .gd-4of5 {
    width: 80%;
  }
  .gd-10of12 {
    width: 83.33333333%;
  }
  .gd-9of11 {
    width: 81.81818182%;
  }
  .gd-8of10 {
    width: 80%;
  }
  .gd-7of9 {
    width: 77.77777778%;
  }
  .gd-5of7 {
    width: 71.42857143%;
  }
  .gd-3of5 {
    width: 60%;
  }
  .gd-8of11 {
    width: 72.72727273%;
  }
  .gd-7of10 {
    width: 70%;
  }
  .gd-5of8 {
    width: 62.5%;
  }
  .gd-4of7 {
    width: 57.14285714%;
  }
  .gd-2of5 {
    width: 40%;
  }
  .gd-7of11 {
    width: 63.63636364%;
  }
  .gd-6of10 {
    width: 60%;
  }
  .gd-5of9 {
    width: 55.55555556%;
  }
  .gd-3of7 {
    width: 42.85714286%;
  }
  .gd-1of5 {
    width: 20%;
  }
  .gd-7of12 {
    width: 58.33333333%;
  }
  .gd-6of11 {
    width: 54.54545455%;
  }
  .gd-4of9 {
    width: 44.44444444%;
  }
  .gd-3of8 {
    width: 37.5%;
  }
  .gd-2of7 {
    width: 28.57142857%;
  }
  .gd-1of6 {
    width: 16.66666667%;
  }
  .gd-5of11 {
    width: 45.45454545%;
  }
  .gd-4of10 {
    width: 40%;
  }
  .gd-1of7 {
    width: 14.28571429%;
  }
  .gd-5of12 {
    width: 41.66666667%;
  }
  .gd-4of11 {
    width: 36.36363636%;
  }
  .gd-3of10 {
    width: 30%;
  }
  .gd-2of9 {
    width: 22.22222222%;
  }
  .gd-1of8 {
    width: 12.5%;
  }
  .gd-3of11 {
    width: 27.27272727%;
  }
  .gd-2of10 {
    width: 20%;
  }
  .gd-1of9 {
    width: 11.11111111%;
  }
  .gd-2of11 {
    width: 18.18181818%;
  }
  .gd-1of10 {
    width: 10%;
  }
  .gd-2of12 {
    width: 16.66666667%;
  }
  .gd-1of11 {
    width: 9.09090909%;
  }
  .gd-1of12 {
    width: 8.33333333%;
  }
  .wrapper {
    width: 80%;
    max-width: 63em;
    margin-left: auto;
    margin-right: auto;
  }
  .main-nav .main-nav__link {
    padding-top: 0.83333333em;
    padding-bottom: 0.83333333em;
    padding-left: 0.83333333em;
    padding-right: 0.83333333em;
    font-size: 24px;
    font-size: 1.5rem;
  }
}
