/* vim: set ts=2 sw=2 sts=2 et: */
/**
 * Discount Coupons Module CSS stylesheet
 *  
 * @category   X-Cart
 * @package    X-Cart
 * @subpackage CSS
 * @author     Ruslan R. Fazlyev <rrf@x-cart.com> 
 * @version    f84fb00a54d31bd70b335a5b1972608c4c1fd6cc, v3 (xcart_4_4_6), 2012-03-22 11:13:33, main.css, aim
 * @link       http://www.x-cart.com/
 * @see        ____file_see____
 */

/* clear link */
.dcoupons-clear img {
  background: transparent url(../../images/delete_cross.gif) no-repeat;
  width: 11px;
  height: 11px;
  vertical-align: bottom;
}
