.translate (@move-x: 10px, @move-y: 10px) 
{
    -webkit-transform : translate(@move-x, @move-y);
    -moz-transform    : translate(@move-x, @move-y);
    -o-transform      : translate(@move-x, @move-y);
    -ms-transform     : translate(@move-x, @move-y);
    transform         : translate(@move-x, @move-y);
}