/*
2a30536f400a253c86be1a18eb00603b4ad45f18, v3 (xcart_4_5_1), 2012-06-22 11:52:57, altskin.FF.css, aim
vim: set ts=2 sw=2 sts=2 et:
*/

.ajax-minicart img.minicart-button {
  margin-top: 0px;
  margin-bottom: 0px;
}
