/* vim: set ts=2 sw=2 sts=2 et: */
/**
 * Product options module CSS stylesheet
 *  
 * @category   X-Cart
 * @package    X-Cart
 * @subpackage CSS
 * @author     Ruslan R. Fazlyev <rrf@x-cart.com> 
 * @version    616d4da9c72aa057d62e895b3bd394ab88d6f872, v2 (xcart_4_4_0_beta_2), 2010-05-31 06:08:28, main.css, igoryan
 * @link       http://www.x-cart.com/
 * @see        ____file_see____
 */

/* exceptions list */
#exception_msg {
  padding-bottom: 15px;
}

.poptions-exceptions-list {
  padding-bottom: 15px;
}

/* short options list */
.poptions-options-list {
  padding: 1px;
}

.poptions-options-list td {
  padding-right: 10px;
}
