/* vim: set ts=2 sw=2 sts=2 et: */
/**
 * @category   X-Cart
 * @package    X-Cart
 * @subpackage Modules
 * @author     Ruslan R. Fazlyev <rrf@x-cart.com> 
 * @version    71ae8da1574e2d17ed36dafb837750799af54781, v1 (xcart_4_6_0), 2013-04-05 15:51:07, main.css, random
 * @link       http://www.x-cart.com/
 * @see        ____file_see____
 */
.klarna-popup-title {
  text-align: center;
  margin: 10px 0px;
  font-size: 16px;
}
.klarna-address-table td {
  padding-bottom: 5px;
}
